In [1]:
import pandas as pd
import numpy as np
import re
from datetime import datetime

In [2]:
df= pd.read_csv('train.csv')
df.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50

Remove the units from some of the attributes and only keep the numerical values (for
example remove kmpl from “Mileage”, CC from “Engine”, bhp from “Power”, and lakh from
“New_price”).

In [3]:
# Remove units and keep only numeric values
df['Mileage'] = df['Mileage'].str.replace(r'[^0-9.]', '', regex=True).astype(float)
df['Engine'] = df['Engine'].str.replace(r'[^0-9.]', '', regex=True).astype(float)
df['Power'] = df['Power'].str.replace(r'[^0-9.]', '', regex=True).astype(float)
df['New_Price'] = df['New_Price'].str.replace(' Lakh', '', regex=False)
df['New_Price'] = pd.to_numeric(df['New_Price'], errors='coerce')

#print(df[['Mileage', 'Engine', 'Power', 'New_Price']].head())
df.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582.0,126.20,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13.00,1199.0,88.70,5.0,8.61,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248.0,88.76,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968.0,140.80,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461.0,63.10,5.0,NaN,3.50

 Change the categorical variables (“Fuel_Type” and “Transmission”) into numerical one hot
encoded value.

In [4]:
# One-hot encode the columns
df = pd.get_dummies(df, columns=['Fuel_Type', 'Transmission'], drop_first=True,dtype=int)
df.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Manual
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67,1582.0,126.20,5.0,NaN,12.50,0,0,1
1,2,Honda Jazz V,Chennai,2011,46000,First,13.00,1199.0,88.70,5.0,8.61,4.50,0,1,1
2,3,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77,1248.0,88.76,7.0,NaN,6.00,0,0,1
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.20,1968.0,140.80,5.0,NaN,17.74,0,0,0
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08,1461.0,63.10,5.0,NaN,3.50,0,0,1

Create one more feature and add this column to the dataset (you can use mutate function in
R for this). For example, you can calculate the current age of the car by subtracting “Year” value
from the current year.

In [5]:
current_year = datetime.now().year
df['Car_Age'] = current_year - df['Year']
df.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Manual,Car_Age
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67,1582.0,126.20,5.0,NaN,12.50,0,0,1,10
1,2,Honda Jazz V,Chennai,2011,46000,First,13.00,1199.0,88.70,5.0,8.61,4.50,0,1,1,14
2,3,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77,1248.0,88.76,7.0,NaN,6.00,0,0,1,13
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.20,1968.0,140.80,5.0,NaN,17.74,0,0,0,12
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08,1461.0,63.10,5.0,NaN,3.50,0,0,1,12

Perform select, filter, rename, mutate, arrange and summarize with group by operations (or
their equivalent operations in python) on this dataset.

In [6]:
# Select specific columns
selected_df = df[['Name', 'Location', 'Year', 'Kilometers_Driven', 'Mileage']]
print("Selected Columns:\n", selected_df.head())

# Filter cars older than 10 years
Year = df[df['Year'] > 2013]
print("Cars Older Than 11 Years:\n", Year.head())

# Rename a column
df=df.rename(columns={'Kilometers_Driven': 'Kms_Driven', 'old_cars':'purchace_type'})
print("After Renaming Columns:\n", df.head())

# Mutate: Create a cost-per-km feature
df['Cost_per_km'] = df['Price'] * 10000 / df['Kms_Driven']
print("Cost per km :\n", df[['Price', 'Kms_Driven', 'Cost_per_km']].head())

# Arrange by Price descending
sorted_df = df.sort_values(by='Power', ascending=False)
print("Data Sorted by Power (Descending):\n", sorted_df[['Name','Price']].head())

# Summarize average price per fuel type
summary = sorted_df.groupby('Kms_Driven')['Price'].mean().reset_index(name='Avg_Price')
print("Average Price by Fuel type (Diesel=1):\n", summary)

Selected Columns:
                                Name    Location  Year  Kilometers_Driven  \
0  Hyundai Creta 1.6 CRDi SX Option        Pune  2015              41000
1                      Honda Jazz V     Chennai  2011              46000
2                 Maruti Ertiga VDI     Chennai  2012              87000
3   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013              40670
4            Nissan Micra Diesel XV      Jaipur  2013              86999

   Mileage
0    19.67
1    13.00
2    20.77
3    15.20
4    23.08
Cars Older Than 11 Years:
     Unnamed: 0                               Name Location  Year  \
0            1   Hyundai Creta 1.6 CRDi SX Option     Pune  2015
5            7  Toyota Innova Crysta 2.8 GX AT 8S   Mumbai  2016
8           10                   Maruti Ciaz Zeta    Kochi  2018
10          12              Maruti Swift VDI BSIV   Jaipur  2015
11          13   Land Rover Range Rover 2.2L Pure    Delhi  2014

    Kilometers_Driven Owner_Type  Mileage  Engine   Power  Seats  New_Price  \
0               41000      First    19.67  1582.0  126.20    5.0        NaN
5               36000      First    11.36  2755.0  171.50    8.0      21.00
8               25692      First    21.56  1462.0  103.25    5.0      10.65
10              64424      First    25.20  1248.0   74.00    5.0        NaN
11              72000      First    12.70  2179.0  187.70    5.0        NaN

    Price  Fuel_Type_Electric  Fuel_Type_Petrol  Transmission_Manual  Car_Age
0   12.50                   0                 0                    1       10
5   17.50                   0                 0                    0        9
8    9.95                   0                 1                    1        7
10   5.60                   0                 0                    1       10
11  27.00                   0                 0                    0       11
After Renaming Columns:
    Unnamed: 0                              Name    Location  Year  Kms_Driven  \
0           1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015       41000
1           2                      Honda Jazz V     Chennai  2011       46000
2           3                 Maruti Ertiga VDI     Chennai  2012       87000
3           4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013       40670
4           6            Nissan Micra Diesel XV      Jaipur  2013       86999

  Owner_Type  Mileage  Engine   Power  Seats  New_Price  Price  \
0      First    19.67  1582.0  126.20    5.0        NaN  12.50
1      First    13.00  1199.0   88.70    5.0       8.61   4.50
2      First    20.77  1248.0   88.76    7.0        NaN   6.00
3     Second    15.20  1968.0  140.80    5.0        NaN  17.74
4      First    23.08  1461.0   63.10    5.0        NaN   3.50

   Fuel_Type_Electric  Fuel_Type_Petrol  Transmission_Manual  Car_Age
0                   0                 0                    1       10
1                   0                 1                    1       14
2                   0                 0                    1       13
3                   0                 0                    0       12
4                   0                 0                    1       12
Cost per km :
    Price  Kms_Driven  Cost_per_km
0  12.50       41000     3.048780
1   4.50       46000     0.978261
2   6.00       87000     0.689655
3  17.74       40670     4.361938
4   3.50       86999     0.402303
Data Sorted by Power (Descending):
                                  Name   Price
5620       Lamborghini Gallardo Coupe  120.00
5368  Bentley Continental Flying Spur   59.00
2040          Porsche Cayenne Turbo S   32.00
4942  Jaguar XJ 5.0 L V8 Supercharged   50.66
68    Porsche Cayenne 2009-2014 Turbo   14.50
Average Price by Fuel type (Diesel=1):
       Kms_Driven  Avg_Price
0            171   3.600000
1            600   6.250000
2           1000  10.187778
3           1001   7.390000
4           1011  13.500000
...          ...        ...
3014      480000   9.000000
3015      620000   2.700000
3016      720000   5.900000
3017      775000   7.500000
3018     6500000  65.000000

[3019 rows x 2 columns]